@media only screen and (max-width: 767px) {
  #home {
    /* The file size of this background image is 93% smaller
    to improve page load speed on mobile internet connections */
    background-image: url("../Images/background_areial_beach.jpg");
  }
  #aboutMe {
    background-image: url("../Images/background_areial_beach.jpg");
  }
  #resume {
    background-image: url("../Images/background_chalet_among_flowers.jpg");
  }
  #gallery {
    background-image: url("../Images/background_foggy_mountain.jpg");
  }
  #missing {
    background-image: url("../Images/background_silhouette_of_mountain.jpg");
  }
}

.bg-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  min-height: 100vh;
  padding-bottom: 5rem;
}

#home {
  background-image: url("../Images/background_river_overflow.jpg");
}

#aboutMe {
  background-image: url("../Images/background_areial_beach.jpg");
}

#resume {
  background-image: url("../Images/background_chalet_among_flowers.jpg");
}
#gallery {
  background-image: url("../Images/background_foggy_mountain.jpg");
}
/* #resume {
  background-image: url("../Images/background_photo_of_two_mountains.jpg");
} */
/* #resume {
  background-image: url("../Images/background_photo_of_valley.jpg");
} */
#missing {
  background-image: url("../Images/background_silhouette_of_mountain.jpg");
}