@media only screen and (max-width: 767px) {
    body {
    /* The file size of this background image is 93% smaller
    to improve page load speed on mobile internet connections */
    background-image: url('../Images/background_areial_beach.jpg');
    }
}

body {
    background-image: url('../Images/background_areial_beach.jpg');
    background-repeat: 'no-repeat';
    background-position: 'center center';
    background-attachment: 'fixed';
    background-size: 'contain';
    background-color: '#464646';
    height: '100vh';
}