@media only screen and (max-width: 767px) {
  #profileCard {
    margin-bottom: 40%;
  }
}

.img-fluid {
  margin: 5px;
  padding: 2px;
}
#experience_in {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
